<html>

<%- include('partials/header.ejs'); %>
<%- include('partials/homenavbar.ejs'); %>

<body>


    <div class="container">

        <div class="jumbotron bg-light mt-3">
            <h1 class="display-4">Bem-vindo ao Meu Blog!</h1>
            <p class="lead">Aqui você acompanhará os artigos publicados por mim.</p>
        </div>

        <% paginacao.artigos.rows.forEach(artigo => { %>
            <div class="card mb-3">

                <div class="card-header">
                    <h2><%= artigo.title %></h2>
                </div>
                <div class="card-body">
                    <% if(artigo.image){ %>
                        <img src="/<%= artigo.image %>" style="aspect-ratio: 16 / 9; object-fit: cover;" class="img-fluid card-img-top">
                    <% }else{ %>
                        <img src="http://via.placeholder.com/600x460?text=Sem foto" style="aspect-ratio: 16 / 9; object-fit: cover;" class="img-fluid" />
                    <% } %>
                </div>
                <div class="card-footer">
                    <a href="/artigo/<%= artigo.id %>/<%= artigo.slug %>" class="btn-success btn">Ler artigo</a>
                </div>

            </div>
            
        <% }) %>

        <div class="row mt-3 mb-5">
            <div class="col-12">
                <% if(paginacao.atual > 1){ %>
                    <a class="float-left btn btn-danger" href="/artigos/<%= paginacao.atual - 1 %>"><i class="fa fa-arrow-left"></i> Anterior</a>
                <% } %>
                
                <% if(paginacao.proxima){ %>
                   <a class="float-right btn btn-danger" href="/artigos/<%= paginacao.atual + 1 %>">Próxima <i class="fa fa-arrow-right"></i></a>
                <% } %>
            </div>
        </div>

    </div>

</body>

<%- include('partials/footer.ejs'); %>

</html>


