<html>

<%- include('../../partials/header.ejs'); %>

<body>

    <%- include('../../partials/navbar.ejs'); %>

    
</body>

<div class="container pt-3">

    <div class="card" id="formulario-categoria">

        <div class="card-header">
            <h3 class="mt-2 mb-2 text-center">Editar Categoria</h3>
        </div>
        <div class="card-body">
            <form method="post" action="/admin/categoria/editar">
                <input type="hidden" name="id" value="<%=categoria.id%>" />
                <label>Título</label>
                <input type="text" name="title" value="<%=categoria.title%>" placeholder="Título" class="form-control mb-2" required>
                <button class="btn btn-primary mt-2 float-right">Editar</button>
            </form>
        </div>
        <div class="card-footer text-center">
            <a role="button" class="btn btn-info" href="/admin/categorias">Voltar</a>
        </div>

    </div>

</div>


<%- include('../../partials/footer.ejs'); %>

</html>
