<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<%- include('../../partials/header.ejs'); %>

<body>

    <%- include('../../partials/navbar.ejs'); %>

    
</body>

<div class="container pt-3">

    <div class="card" id="formulario-artigo">

        <div class="card-header">
            <h3 class="mt-2 mb-2 text-center">Editar Artigo</h3>
        </div>
        <div class="card-body">
            <form method="post" action="/admin/artigo/editar">
                <input type="hidden" name="id" value="<%=artigo.id%>" />
                <label>Título</label>
                <input type="text" name="title" placeholder="Título" value="<%=artigo.title%>" class="form-control mb-2" required>
                <label>Categoria</label>
                
                <select class="form-control mb-2" name="categoriaId" readonly="readonly" required>
                    <option value="<%=artigo.categoria.id%>"><%=artigo.categoria.title%></option>
                </select>

                <input type="hidden" name="image_atual" value="<%=artigo.image%>" />
                <input type="hidden" id="foto" name="image" value="" />

                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <% if(artigo.image){ %>
                            <img id="avatar" src="/<%=artigo.image%>" class="img-fluid" />
                        <% }else{ %>
                            <img id="avatar" src="http://via.placeholder.com/300x300?text=Sem foto" class="img-fluid" />
                        <% } %>

                    </div>
                </div>

                <label>Conte&uacute;do</label>
                <textarea id="conteudo" class="form-control mb-2" name="description" placeholder="Conteúdo do artigo" required><%=artigo.description%></textarea>
                <button class="btn btn-primary mt-2 float-right">Editar</button>
            </form>

            <form id="form" enctype="multipart/form-data">
                <input type="file" name="image" />
                <br/>
                <button type="submit" name="upload">Anexar Foto</button>
                <br/>
            </form>

        </div>
        <div class="card-footer text-center">
            <a role="button" class="btn btn-info" href="/admin/artigos">Voltar</a>
        </div>

    </div>

</div>


<%- include('../../partials/footer.ejs'); %>
<script src="/tinymce/tinymce.min.js"></script>   

<script>
    tinymce.init({
        selector: 'textarea#conteudo',
        language: 'pt_BR',
        height: 300,
        menubar: false,
        plugins: [
            'advlist autolink lists link image charmap print preview anchor',
            'searchreplace visualblocks code fullscreen',
            'insertdatetime media table paste code help wordcount'
        ],
        toolbar: 'undo redo | formatselect | ' +
        'bold italic backcolor | alignleft aligncenter ' +
        'alignright alignjustify | bullist numlist outdent indent | ' +
        'removeformat | help',
        content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
    });

</script>

<script>

    

    form.addEventListener('submit', event => {
        event.preventDefault();
        let formData = new FormData();
        formData.append('image', event.target[0].files[0]);
        fetch('/admin/upload', {method: 'post', body: formData})
        .then(res => res.json())
        .then(res => {
            //avatar.src = `http://localhost:7755${res.payload.url}`;
            avatar.src = '/'+res.url
            $('#foto').val(res.url);
        })
        .catch(console.log);
    });
</script>

</html>
